/* You can add global styles to this file, and also import other style files */
body{ 
  display: -webkit-flex;
  display: flex;
  
  justify-content: space-around;;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  background: #e5e5e5;
}
